* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    margin: 50px;
    background-color: #ffa161;
    position: relative;
}

.hitext {
    font-size: 180px;
    width: 100%;
    margin: auto;
    letter-spacing: 2px;
    text-align: center;
    text-shadow: 6px 6px 8px #ffffffcc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mini-bio {
    font-size: 46px;
    text-shadow: 0.5px 0.5px 5px #ffffff;
    position: relative;
    text-align: center;
    margin-bottom: 300px;
    top: 60px;
    left: 25%;
    width: 50%;
    padding: 20px 25px 50px 25px;
    line-height: 1.5;
    border-style: groove;
    border-color: #ffa061a4;
    border-width: 20px;
    border-radius:20px;
    overflow: auto;
}

.navmenu .threebuttons p {
  font-size: 100px;
  opacity: 0.6;
}

.threebuttons {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  font-size: 100px;
  opacity: 0.6;
}

.workbutton {
  font-size: 100px;
  color: #ffffff;
  border: none;
  background: none;
  opacity: 0.6;
  transition-duration: 0.4s;
  outline: 0;
  text-decoration: none;
}

.workbutton:hover {
  text-shadow: 4px 4px 5px black;
  opacity: 1;
  color: #ffa161;
}

.contactbutton {
  font-size: 100px;
  color: #ffffff;
  border: none;
  background: none;
  opacity: 0.6;
  transition-duration: 0.4s;
  outline: 0;
  text-decoration: none;
}

.contactbutton:hover {
  text-shadow: 4px 4px 5px black;
  opacity: 1;
  color: #ffa161;
}

.aboutbutton {
  font-size: 100px;
  color: #ffffff;
  border: none;
  background: none;
  opacity: 0.6;
  transition-duration: 0.4s;
  outline: 0;
  text-decoration: none;
}

.aboutbutton:hover {
  text-shadow: 4px 4px 5px black;
  opacity: 1;
  color: #ffa161;
}

.worksection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 300px;
}

.myFirstApp {
  /* display: flex;
  justify-content: center; */
  margin: auto;
  border-radius: 60%;
  box-shadow: 10px 10px 5px grey;
}

.first {
  /* margin: auto; */
  /* width: 30%; */

}

.second {
  /* float: left; */
  /* margin-left: auto;
  margin-right: auto; */
  /* width: auto; */

}

.third {
  /* float: right; */
  /* margin-left: auto;
  margin-right: auto;
  width: auto; */
}

/* .myFirstApp.gallery:hover {
  border: 10px solid #777;
} */

.appcap {
  text-align: center;
  font-size: 3.5rem;
  padding: 30px;
}

.me {
    margin-left: auto;
    position: relative;
    background-color: #ddd;
    width: 20%;
    border: 5px solid #000;
    padding: 20px;
    border-radius: 50%;
    border-bottom-right-radius: 10px;
}

 .contactlist {
    list-style: none;
 }

  .maincontact {
    font-size: 46px;
    text-shadow: 0.5px 0.5px 5px #ffffff;
    position: relative;
    text-align: center;
    left: 25%;
    width: 50%;
    padding: 20px 25px 50px 25px;
    line-height: 1.5;
    border-style: groove;
    border-color: #ffa061a4;
    border-width: 20px;
    border-radius:20px;
    overflow: auto;
  }

  .about-me {
    text-align: center;
    font-size: 40px;
    position: absolute;
    padding: 70px 110px 30px 110px;
    background-color: #dddddd;
    border-width: 5px;
    height: 42%;
    width: 60%;
    border-radius: 40%;
    z-index: 1;
    top: 23%;
    left: 10%;
    overflow: auto;
  }

  .fullcloud {
    display: flex;
    justify-content: flex-start;
    position: relative;
    bottom: 30px;
    padding: 25px;
  }

  .cloud1 {
    position: absolute;
    background-color: #dddddd;
    border-style: solid;
    border-width: 5px;
    height: 40%;
    width: 18%;
    border-radius: 100%;
    top: 15%;
  }

  .cloud2 {
    position: absolute;
    background-color: #dddddd;
    border-style: solid;
    border-width: 5px;
    height: 30%;
    width: 18%;
    border-radius: 100%;
    bottom: 25%;
    left: 2%;
    z-index: -3;
  }

  .cloud3 {
    position: absolute;
    background-color: #dddddd;
    border-style: solid;
    border-width: 5px;
    height: 40%;
    width: 18%;
    border-radius: 100%;
    z-index: -2;
    top: 10%;
    left: 10%;
  }

  .cloud4 {
    position: absolute;
    background-color: #dddddd;
    border-style: solid;
    border-width: 5px;
    height: 40%;
    width: 38%;
    border-radius: 100%;
    z-index: -3;
    top: 5%;
    left: 20%;
  }

  .cloud5 {
    position: absolute;
    background-color: #dddddd;
    border-style: solid;
    border-width: 5px;
    height: 40%;
    width: 22%;
    border-radius: 100%;
    z-index: -3;
    top: 18%;
    left: 50%;
  }

  .cloud6 {
    position: absolute;
    background-color: #dddddd;
    border-style: solid;
    border-width: 5px;
    height: 40%;
    width: 18%;
    border-radius: 100%;
    z-index: -3;
    bottom: 28%;
    left: 62%;
  }

  .cloud7 {
    position: absolute;
    background-color: #dddddd;
    border-style: solid;
    border-width: 5px;
    height: 30%;
    width: 28%;
    border-radius: 100%;
    z-index: -4;
    bottom: 17%;
    left: 12%;
  }

  .cloud8 {
    position: absolute;
    background-color: #dddddd;
    border-style: solid;
    border-width: 5px;
    height: 35%;
    width: 35%;
    border-radius: 100%;
    z-index: -4;
    bottom: 18%;
    left: 33%;
  }

footer {
  text-align: center;
  margin: auto;
  padding: 20px;
}