* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    margin: 50px;
    background-color: plum;
    position: relative;
}

h1 {
    font-size: 80px;
    width: 100%;
    letter-spacing: 2px;
    text-align: center;
    padding: 20px;
}

.secret-text {
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 84px;
    color: white;
    opacity: .7;
    text-shadow: 0 0 3px #ffffff;
    z-index: -1;
}

.mini-bio {
    font-size: 20px;
    text-align: center;
    line-height: 35px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

li {
    text-align: center;
    font-size: 40px;
    text-shadow: 2px 2px 5px white;
    list-style-type: none;
    margin: 0;
    padding: 25px;
}

img {
    display: block;
    margin-left: auto;
    background-color: #ddd;
    width: 30%;
    border: 5px solid #000;
    padding: 20px;
    border-radius: 50%;
    border-bottom-right-radius: 10px;
    z-index: 10;
}

.secret-text {
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
  }
  }

  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:.7;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:.7;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:.7;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:.7;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:.7;
    }
  }

  .about-me {
    font-size: 30px;
    width: 90%;
    z-index: -1;
    padding: 150px;
    background-color: #dddddd;
    position: absolute;
    bottom: -10px;
    border-radius: 50%;
    bottom: 100px;
  }

  .cloud1 {
    position: absolute;
    background-color: #dddddd;
    border-style: solid;
    border-width: 5px;
    height: 20%;
    width: 18%;
    border-radius: 100%;
    z-index: -2;
    bottom: 14%;
    left: -3%;
  }

  .cloud2 {
    position: absolute;
    background-color: #dddddd;
    border-style: solid;
    border-width: 5px;
    height: 20%;
    width: 18%;
    border-radius: 100%;
    bottom: 40px;
    left: 6%;
    z-index: -3;
  }

  .cloud3 {
    position: absolute;
    background-color: #dddddd;
    border-style: solid;
    border-width: 5px;
    height: 20%;
    width: 18%;
    border-radius: 100%;
    z-index: -2;
    bottom: 26%;
    left: 6%;
  }

  .cloud4 {
    position: absolute;
    background-color: #dddddd;
    border-style: solid;
    border-width: 5px;
    height: 30%;
    width: 38%;
    border-radius: 100%;
    z-index: -3;
    bottom: 21%;
    left: 20%;
  }

  .cloud5 {
    position: absolute;
    background-color: #dddddd;
    border-style: solid;
    border-width: 5px;
    height: 20%;
    width: 28%;
    border-radius: 100%;
    z-index: -3;
    bottom: 25%;
    left: 52%;
  }