* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    background-color: #ffa161;
}

body {
    font-family: sans-serif;
    margin: 50px;
    /* background-color: #ffa161; */
    position: relative;
    /* overflow: hidden; */
}

main {
  scroll-snap-type: y mandatory;
  height: 100vh;
  /* overflow: scroll; */
}

.hitext {
    font-size: 180px;
    width: 100%;
    margin: auto;
    letter-spacing: 2px;
    text-align: center;
    /* text-shadow: 6px 6px 8px #ffffffcc; */
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    padding-top: 9rem;
    animation: glow 1.5s infinite alternate, .4s ease-out 0s 1 slideInFromLeft;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes glow {
  to {
      text-shadow: 6px 6px 8px #ffffffcc;
  }
}

.row {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  background: none;
}

.col {
  background: none;
}

#dots {
  font-size: 5rem;
  opacity: 0.8;
  padding: 5px;
  background: none;
}

.mini-bio {
    font-size: 46px;
    text-shadow: 0.5px 0.5px 5px #ffffff;
    /* position: relative; */
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 220px;
    top: 60px;
    left: 25%;
    /* width: 50%; */
    /* padding: 20px 25px 50px 25px; */
    line-height: 1.5;
    border-style: groove;
    border-color: #ffa061a4;
    border-width: 20px;
    border-radius:20px;
    animation: .4s ease-out 0s 1 slideUpFromBottom;
    /* overflow: auto; */
}

@keyframes slideUpFromBottom {
  0% {
    transform: translateY(200%);
  }
  100% {
    transform: translateY(0);
  }
}

.navmenu .threebuttons p {
  font-size: 100px;
  opacity: 0.6;
}

.threebuttons {
  background: none;
  /* padding-bottom: 6rem; */
  /* margin: auto; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* font-size: 100px; */
  /* opacity: 0.6; */
}

.workbutton {
  font-size: 100px;
  color: #ffffff;
  border: none;
  background: none;
  opacity: 0.5;
  transition-duration: 0.4s;
  outline: 0;
  text-decoration: none;
  /* display: flex; */
}

.workbutton:hover {
  text-shadow: 4px 4px 5px black;
  opacity: 1;
  color: #ffa161;
  text-decoration: none;
}

.contactbutton {
  font-size: 100px;
  color: #ffffff;
  border: none;
  background: none;
  opacity: 0.5;
  transition-duration: 0.4s;
  outline: 0;
  text-decoration: none;
}

.contactbutton:hover {
  text-shadow: 4px 4px 5px black;
  opacity: 1;
  color: #ffa161;
  text-decoration: none;
}

.aboutbutton {
  font-size: 100px;
  color: #ffffff;
  border: none;
  background: none;
  opacity: 0.5;
  transition-duration: 0.4s;
  outline: 0;
  text-decoration: none;
}

.aboutbutton:hover {
  text-shadow: 4px 4px 5px black;
  opacity: 1;
  color: #ffa161;
  text-decoration: none;
}

.worksection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 300px;
  padding-top: 180px;
}

.myFirstApp {
  margin: auto;
  border-radius: 60%;
  filter: grayscale(90%) opacity(0.7);
  transition-duration: 0.4s;
  margin: 1rem;
  background: none;
}

.myFirstApp:hover {
  box-shadow: 0 12px 16px 0 rgba(252, 252, 252, 0.507), 0 17px 50px 0 rgba(252, 252, 252, 0.507);
  -webkit-filter: none;
  filter: none;
}

.appcap {
  text-align: center;
  font-size: 3.5rem;
  padding: 30px;
  text-shadow: 0.5px 0.5px 5px #ffffff;
}

.me {
    margin-left: auto;
    position: relative;
    background-color: #ddd;
    width: 20%;
    border: 5px solid #000;
    padding: 20px;
    border-radius: 50%;
    border-bottom-right-radius: 10px;
}

 .contactlist {
    list-style: none;
 }

  .maincontact {
    font-size: 46px;
    text-shadow: 0.5px 0.5px 5px #ffffff;
    position: relative;
    text-align: center;
    left: 25%;
    width: 50%;
    padding: 20px 25px 50px 25px;
    line-height: 1.5;
    border-style: groove;
    border-color: #ffa061a4;
    border-width: 20px;
    border-radius:20px;
    word-wrap: break-word;
  }

  .about-me {
    text-align: center;
    font-size: 40px;
    position: absolute;
    padding: 70px 110px 35px 110px;
    background-color: #dddddd;
    border-width: 5px;
    height: 42%;
    width: 60%;
    border-radius: 40%;
    z-index: 1;
    top: 23%;
    left: 10%;
    overflow: auto;
  }

  .fullcloud {
    display: flex;
    justify-content: flex-start;
    position: relative;
    bottom: 30px;
    padding: 25px;
    opacity: 0.8;
  }

  .cloud1 {
    position: absolute;
    background-color: #dddddd;
    border-style: solid;
    border-width: 5px;
    height: 40%;
    width: 18%;
    border-radius: 100%;
    top: 15%;
    filter: blur(0.5px);
  }

  .cloud2 {
    position: absolute;
    background-color: #dddddd;
    border-style: solid;
    border-width: 5px;
    height: 30%;
    width: 18%;
    border-radius: 100%;
    bottom: 25%;
    left: 2%;
    z-index: -3;
    filter: blur(0.5px);
  }

  .cloud3 {
    position: absolute;
    background-color: #dddddd;
    border-style: solid;
    border-width: 5px;
    height: 40%;
    width: 18%;
    border-radius: 100%;
    z-index: -2;
    top: 10%;
    left: 10%;
    filter: blur(0.5px);
  }

  .cloud4 {
    position: absolute;
    background-color: #dddddd;
    border-style: solid;
    border-width: 5px;
    height: 40%;
    width: 38%;
    border-radius: 100%;
    z-index: -3;
    top: 5%;
    left: 20%;
    filter: blur(0.5px);
  }

  .cloud5 {
    position: absolute;
    background-color: #dddddd;
    border-style: solid;
    border-width: 5px;
    height: 40%;
    width: 22%;
    border-radius: 100%;
    z-index: -3;
    top: 18%;
    left: 50%;
    filter: blur(0.5px);
  }

  .cloud6 {
    position: absolute;
    background-color: #dddddd;
    border-style: solid;
    border-width: 5px;
    height: 40%;
    width: 18%;
    border-radius: 100%;
    z-index: -3;
    bottom: 28%;
    left: 62%;
    filter: blur(0.5px);
  }

  .cloud7 {
    position: absolute;
    background-color: #dddddd;
    border-style: solid;
    border-width: 5px;
    height: 30%;
    width: 28%;
    border-radius: 100%;
    z-index: -4;
    bottom: 17%;
    left: 12%;
    filter: blur(0.5px);
  }

  .cloud8 {
    position: absolute;
    background-color: #dddddd;
    border-style: solid;
    border-width: 5px;
    height: 35%;
    width: 35%;
    border-radius: 100%;
    z-index: -4;
    bottom: 18%;
    left: 33%;
    filter: blur(0.5px);
  }

footer {
  text-align: center;
  margin: auto;
  padding: 20px;
}