* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    margin: 50px;
    background-color: #ffa161;
    position: relative;
}

h1 {
    font-size: 180px;
    width: 100%;
    letter-spacing: 2px;
    text-align: center;
    padding: 20px;
}

.secret-text {
    position: absolute;
    text-align: center;
    top: 0;
    font-size: 184px;
    color: white;
    opacity: .7;
    text-shadow: 4px 4px 5px #ffffff;
    z-index: -1;
    width: 100%;
}

header h1 {
  display: flex;
  justify-content: center;
}

.mini-bio {
    font-size: 46px;
    text-shadow: 0.5px 0.5px 5px #ffffff;
    position: relative;
    text-align: center;
    margin-bottom: 300px;
    top: 60px;
    left: 25%;
    width: 50%;
    padding: 20px 25px 25px 25px;
    line-height: 1.5;
    border-style: groove;
    border-color: #ffa061a4;
    border-width: 20px;
    border-radius:20px;
    display:flex;
    justify-content: center;
}

section .threebuttons p {
  font-size: 100px;
  opacity: 0.6;
}

.threebuttons {
  display: flex;
  justify-content: center;
}

.workbutton {
  font-size: 100px;
  color: #ffffff;
  border: none;
  background: none;
  opacity: 0.6;
  transition-duration: 0.4s;
  outline: 0;
}

.workbutton:hover {
  text-shadow: 4px 4px 5px black;
  opacity: 1;
  color: #ffa161;
}

.contactbutton {
  font-size: 100px;
  color: #ffffff;
  border: none;
  background: none;
  opacity: 0.6;
  transition-duration: 0.4s;
  outline: 0;
}

.contactbutton:hover {
  text-shadow: 4px 4px 5px black;
  opacity: 1;
  color: #ffa161;
}

.aboutbutton {
  font-size: 100px;
  color: #ffffff;
  border: none;
  background: none;
  opacity: 0.6;
  transition-duration: 0.4s;
  outline: 0;
  text-decoration: none;
}

.aboutbutton:hover {
  text-shadow: 4px 4px 5px black;
  opacity: 1;
  color: #ffa161;
}

.myFirstApp {
  display: flex;
  justify-self: center;
  border-radius: 60%;
  box-shadow: 10px 10px 5px grey;
}

.myFirstApp.gallery:hover {
  border: 10px solid #777;
}

.appcap {
  text-align: center;
  font-size: 3.5rem;
  padding: 30px;
}

.me {
    display: block;
    margin-left: auto;
    background-color: #ddd;
    width: 30%;
    border: 5px solid #000;
    padding: 20px;
    border-radius: 50%;
    border-bottom-right-radius: 10px;
    z-index: 10;
}

.secret-text {
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
  }


  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:.7;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:.7;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:.7;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:.7;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:.7;
    }
  }

  .about-me {
    font-size: 30px;
    width: 70%;
    z-index: -1;
    padding: 150px;
    background-color: #dddddd;
    position: absolute;
    border-radius:40%;
    bottom: 16%;
    left: 90px;
    min-width: 400px; 
    overflow: hidden;
    display: inline-block;
  }

  .fullcloud {
  }

  /* .cloud1 {
    position: absolute;
    background-color: #dddddd;
    border-style: solid;
    border-width: 5px;
    height: 20%;
    width: 18%;
    border-radius: 100%;
    z-index: -2;
    bottom: 14%;
    left: -3%;
    display: block;
    margin-left: auto;
  }

  .cloud2 {
    position: absolute;
    background-color: #dddddd;
    border-style: solid;
    border-width: 5px;
    height: 20%;
    width: 18%;
    border-radius: 100%;
    bottom: 40px;
    left: 6%;
    z-index: -3;
  }

  .cloud3 {
    position: absolute;
    background-color: #dddddd;
    border-style: solid;
    border-width: 5px;
    height: 20%;
    width: 18%;
    border-radius: 100%;
    z-index: -2;
    bottom: 26%;
    left: 6%;
  }

  .cloud4 {
    position: absolute;
    background-color: #dddddd;
    border-style: solid;
    border-width: 5px;
    height: 30%;
    width: 38%;
    border-radius: 100%;
    z-index: -3;
    bottom: 21%;
    left: 20%;
  }

  .cloud5 {
    position: absolute;
    background-color: #dddddd;
    border-style: solid;
    border-width: 5px;
    height: 20%;
    width: 28%;
    border-radius: 100%;
    z-index: -3;
    bottom: 25%;
    left: 52%;
  }

  .cloud6 {
    position: absolute;
    background-color: #dddddd;
    border-style: solid;
    border-width: 5px;
    height: 20%;
    width: 18%;
    border-radius: 100%;
    z-index: -3;
    bottom: 5%;
    left: 65%;
  }

  .cloud7 {
    position: absolute;
    background-color: #dddddd;
    border-style: solid;
    border-width: 5px;
    height: 20%;
    width: 28%;
    border-radius: 100%;
    z-index: -3;
    bottom: 3%;
    left: 20%;
  }

  .cloud8 {
    position: absolute;
    background-color: #dddddd;
    border-style: solid;
    border-width: 5px;
    height: 20%;
    width: 23%;
    border-radius: 100%;
    z-index: -2;
    bottom: 1%;
    left: 45%;
  } */

footer {
  text-align: center;
}